/* Small (smaller than 640px)
 · Medium (641px to 1007px)
 · Large (1008px and larger) */

 @media only screen and (min-width: 0px) and (max-width:500px) {
    
    /* Style the navigation menu */
    #navbar {
        overflow: hidden;
        position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    #navbar-ul {
        display: none;
    }
    /* Style navigation menu links */
    #nav>a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    /* Style the hamburger menu */
    #nav>a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    /* Add a grey background color on mouse-over */
    #nav>a:hover {
        background-color: #ddd;
        color: black;
    }
    .active {
        background-color: #04AA6D;
        color: white;
    }

    #ins-edu-cont, .education-card-cont{
        display: flex;
        flex-direction: column;
    }
    #education{
        display: flex;
        justify-content: center;
    }
    #home-section {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}